@model InternetExplores.Models.StudentAppModel
@{
    ViewData["Title"] = "ApplicationStudent";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-7 col-6">
                    <h4 class="page-title">Application</h4>
                </div>
            </div>
            <div class="card-box profile-header">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile-view">
                            <div class="profile-img-wrap">
                                <div class="profile-img">
                                </div>
                            </div>
                            <div class="profile-basic">
                                @{ 

                                    StudentModel myStu = ViewBag.StudentDetails;
                                }
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="profile-info-left">
                                            <h3 class="user-name m-t-0 mb-0">@myStu.StudentName , @myStu.StudentSurname</h3>
                                            <small class="text-muted">@myStu.StudentDegree</small>
                                            <div class="staff-id">Student No : @myStu.StudentNo</div>
                                            <div class="staff-id">Degree : @myStu.StudentDegree</div>
                                            <div class="staff-id">Level : @myStu.StudentlevelOfStudy</div>
                                            <div class="staff-id">Faculty : @myStu.StudentFaculty</div>
                                            <br />

                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <ul class="personal-info">
                                            <li>
                                                <span class="title">Phone:</span>
                                                <span class="text"><a href="#">@myStu.StudentPhoneNo</a></span>
                                            </li>
                                            <li>
                                                <span class="title">Email:</span>
                                                <span class="text"><a href="#">@myStu.StudentEmail</a></span>
                                            </li>
                                            <li>
                                                <span class="title">Birthday:</span>
                                                <span class="text">@myStu.StudentDateOfBirth</span>
                                            </li>
                                            <li>
                                                <span class="title">Address:</span>
                                                <span class="text">@myStu.StreetName, @myStu.City, @myStu.Province, @myStu.PostalCode</span>
                                            </li>
                                            <li>
                                                <span class="title">Gender:</span>
                                                <span class="text">@myStu.StudentGender</span>
                                            </li>
                                            <li>
                                                <span class="title">Id Numner:</span>
                                                <span class="text">@myStu.StudentIdNo</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <br />
                <div class="form-group row">
                    <table class="table table-border table-striped custom-table datatable mb-0">
                        <thead>
                            <tr>
                                <th class="text-right"></th>
                                <th class="text-right">Documents</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-right">
                                    <a href="@myStu.idcopyUrl" class="btn btn-outline-primary" target="_blank">
                                        ID
                                    </a>
                                </td>
                                <td class="text-right">
                                    <a href="@myStu.matricResultUrl" class="btn btn-outline-primary" target="_blank">
                                        Matric result
                                    </a>
                                </td>
                                <td class="text-right">
                                    <a href="@myStu.nextofKinUrl" class="btn btn-outline-primary" target="_blank">
                                        Next of kin
                                    </a>
                                </td>
                                <td class="text-right">
                                    <a href="@myStu.financialProofUrl" class="btn btn-outline-primary" target="_blank">
                                        Finacial support
                                    </a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            @using (Html.BeginForm("ApplicationStudent", "Admin", FormMethod.Get))
            {

                <div class="col-12">
                    <br />
                    <div class="form-group row">
                        <label class="col-form-label col">Comment </label>
                        <div class="col-md-10">
                            <textarea maxlength="10" minlength="250" asp-for="comments" rows="5" cols="5" id="Commentsection" class="form-control" placeholder="Comment on application" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="profile-tabs">

                    <table class="table table-border table-striped custom-table datatable mb-0">
                        <tbody>
                            <tr>
                                <td class="text-right">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select asp-for="status" id="Studentstatus" class="dropdown-item-text text-white bg-secondary" aria-label="Default select example" required>
                                                    <option selected value="Successful">Successful</option>
                                                    <option value="	Waitlisted">Waitlisted</option>
                                                    <option value="Unsuccessful">Unsuccessful</option>
                                                    
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                                <td class="text-right">
                                    <p><input asp-for="Email" class="form-control bg-white h5" type="email" value="@myStu.StudentEmail" placeholder="Email" required hidden></p>

                                </td>
                                <td class="text-right">
                                    <p><button class="btn btn-primary" type="submit">SEND MESSAGE</button></p>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            }
        </div>
    </div>
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            document.forms[1].submit;
            return true;
        });
    });
</script>


