@model InternetExplores.Models.ModuleModel
@{
    ViewData["Title"] = "Module list";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
  
    <div class="content">
        @if (ViewBag.lSuccess == true)
        {

            ViewBag.lSuccess = false;
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <strong>Thank you.</strong> You have Updated module details successfully. <br />
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    <div class="row">
        <div class="col-sm-4 col-3 align-self-sm-end">
            <h4 class="page-title">New Students Applications</h4>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a asp-controller="Admin" asp-action="NewModule" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> New Module</a>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <form method="post" asp-action="ApplicationStudent" asp-controller="Admin">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Credits</th>
                                    <th>Level</th>
                                    <th>Faculty</th>
                                    <th>Pre-requisities</th>
                                    <th>Cost</th>
                                    <th>Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (ModuleModel item in ViewBag.listOfModules)
                                {
                                    <tr>
                                        <td>@item.ModuleCode </td>
                                        <td>@item.Modulename </td>
                                        <td>@item.ModuleDescription</td>
                                        <td>@item.ModuleCredit</td>
                                        <td>@item.levelOdstudy</td>
                                        <td>@item.faculty</td>
                                        <td>@item.ModulePre_requisites</td>
                                        <td>@item.ModuleCost</td>
                                        <td>@item.ModulesStatus</td>
                                        <td class="text-right">
                                            @Html.ActionLink("View", // <-- Link text
                 "ModuleDetails", // <-- Action Method Name
                 new { ModuleCode = item.ModuleCode }, // <-- Route value
                 null // <-- htmlArguments
                )
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


