@model InternetExplores.Models.ModuleDeatilsModel;
@{
    ViewData["Title"] = "ModuleDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-7 col-6">
                <h4 class="page-title">ModuleDetails</h4>
            </div>
        </div>
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-12">
                                    @{

                                        ModuleModel myModule = ViewBag.ModuleDetails;
                                    }
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title text"> Code: <span class="text-primary"> @myModule.ModuleCode</span></span>
                                            <span class="title"> Name: <span class="text-primary"> @myModule.Modulename</span></span>
                                            <span class="title">Level: <span class="text-primary"> @myModule.levelOdstudy</span></span>
                                        </li>
                                        <li>
                                            <span class="title"> Credits: <span class="text-primary"> @myModule.ModuleCredit</span></span>
                                            <span class="title">Cost: R<span class="text-primary"> @myModule.ModuleCost</span> </span>
                                            <span class="title">Faculty: <span class="text-primary"> @myModule.faculty</span></span>
                                        </li>
                                        <li>
                                            <span class="title"> Pre-requisities: <span class="text-primary"> @myModule.ModulePre_requisites</span></span>
                                            <span class="title">Status: <span class="text-primary"> @myModule.ModulesStatus</span></span>
                                            <span class="title">Description: <span class="text-primary"> @myModule.ModuleDescription</span></span>
                                        </li>
                                        <li>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("ModuleDetails", "Admin", FormMethod.Get))
        {

            <div class="col-12">
                <br />
                <div class="form-group row">
                    <label class="col-form-label col">Description </label>
                    <div class="col-md-10">
                        <textarea rows="5" asp-for="ModuleDescription" value="@myModule.ModuleDescription" cols="5" id="Commentsection" class="form-control" placeholder="@myModule.ModuleDescription"></textarea>
                    </div>
                </div>
            </div>
            <div class="profile-tabs">

                <table class="table table-border table-striped custom-table datatable mb-0">
                    <tbody>
                        @*<tr>
                                <td class="text-center">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select id="Studentstatus" class="dropdown-item-text text-white bg-secondary" aria-label="Default select example" required>
                                                    <option selected value="Successful">Active</option>
                                                    <option value="	Waitlisted">Inactive</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </td>
                                <td class="text-center">
                                    <p><input class="form-control bg-white h5" type="text" value="" placeholder="@myModule.ModuleCode"></p>
                                    <p><input class="form-control bg-white h5" type="text" value="" placeholder="@myModule.ModuleCode"></p>
                                    <p><input class="form-control bg-white h5" type="text" value="" placeholder="@myModule.ModuleCode"></p>
                                    <p><button class="btn btn-primary" type="submit">UPDATE</button></p>
                                </td>

                            </tr>*@
                        <tr class="" style="align-content:center">
                            <td>
                                <p><input asp-for="ModuleCredit" class="form-control bg-white" type="number" value="@myModule.ModuleCredit" placeholder="@myModule.ModuleCredit" required></p>
                                <p><input asp-for="ModulePre_requisites" class="form-control bg-white" type="text" value="@myModule.ModulePre_requisites" placeholder="@myModule.ModulePre_requisites" required></p>
                                <p><input asp-for="ModuleCost" class="form-control bg-white" type="number" value="@myModule.ModuleCost" placeholder="@myModule.ModuleCost" required></p>
                                <p><input asp-for="ModuleCode" class="form-control bg-white" type="text" value="@myModule.ModuleCode" placeholder="@myModule.ModuleCode" hidden></p>
                                <p>
                                    <select asp-for="ModulesStatus" id="Studentstatus" class="dropdown-item-text text-white bg-secondary" aria-label="Default select example" required>
                                        <option selected value="Active">Active</option>
                                        <option value="	Inactive">Inactive</option>

                                    </select>
                                </p>
                            </td>
                            <td>
                                <button class="btn btn-primary" type="submit">UPDATE</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

        }
    </div>
</div>
}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#submit").click(function () {
            document.forms[1].submit;
            return true;
        });
    });
</script>