@model IEnumerable<InternetExplores.Models.StudentModel>
@{
    ViewData["Title"] = "StudentsList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    @if (ViewBag.IsSuccess == true)
    {

        ViewBag.IsSuccess = false;
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>Thank you.</strong> You have Updated student Application successfully. <br />
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
<div class="content">

    @using (Html.BeginForm("StudentsList", "Admin", FormMethod.Post))
    {
    <div class="row">

        <div class="col-sm-4 col-3 align-self-sm-end">
            <h4 class="page-title">New Students Applications</h4>
            <div class="form-group form-focus">
                <label class="focus-label">Student Number</label>  @Html.TextBox("search", null, new { @class = "form-control floating" })
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="submit" name="submit" value="Search" />

            </div>
        </div>
        <div class="col-sm-8 col-9 text-right m-b-20">
            <a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-eye"></i> View Students</a>
        </div>
    </div>
    }
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <form method="post" asp-action="ApplicationStudent" asp-controller="Admin">
                    <table class="table table-border table-striped custom-table datatable mb-0">
                        <thead>
                            <tr>
                                <th>Student Number</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Degree</th>
                                <th>Level</th>
                                <th>Have Financial Support</th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                                <th class="text-right">Action</th>
                                <th class="text-right"></th>
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (StudentModel item in Model)
                            {
                                <tr>
                                    <td>@item.StudentNo</td>
                                    <td>@item.StudentName &sbquo; @item.StudentSurname </td>
                                    <td>@item.StudentEmail</td>
                                    <td>@item.StudentPhoneNo</td>
                                    <td>@item.StudentDegree</td>
                                    <th>@item.StudentlevelOfStudy</th>
                                    <td>@item.StudentFinincialStatus</td>
                                    <td class="text-right">
                                        <a href="@(item.idcopyUrl)" class="btn btn-outline-primary" target="_blank">
                                            ID
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <a href="@(item.matricResultUrl)" class="btn btn-outline-primary" target="_blank">
                                            Result
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        <a href="@(item.nextofKinUrl)" class="btn btn-outline-primary" target="_blank">
                                            Next-of-kin
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        @if (item.StudentFinincialStatus.Equals("Yes"))
                                        {
                                            <a href="@(item.financialProofUrl)" class="btn btn-outline-primary" target="_blank">
                                                Finacial-support
                                            </a>
                                        }
                                        else {
                                        }

                                    </td>
                                    <td class="text-right">
                                        @Html.ActionLink("View", // <-- Link text
             "ApplicationStudent", // <-- Action Method Name
             new { StudentNo = item.StudentNo, StudentEmail = item.StudentEmail }, // <-- Route value
             null // <-- htmlArguments
            )
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    @{
                        // pagination section start
                    }

                    <div class="card-footer clearfix">

                        @{
                            var page = Convert.ToInt32(ViewData["pageNumber"].ToString());
                            var pageCount = Convert.ToInt32(ViewData["pageCount"].ToString());
                        }
                        <ul class="pagination pagination-sm m-0 float-right">



                            <li class="page-item">
                                @if (ViewBag.PageNumber > 1)
                                {
                                    <a class="page-link" asp-action="StudentsList" asp-controller="Admin" asp-route-pageNumber="@{var prevPage = ViewBag.PageNumber - 1; Write(prevPage); }"> Previous</a>

                                }
                                else
                                {
                                    <a class="page-link disabled">
                                        Previous
                                    </a>
                                }
                            </li>

                            @{
                                var currentPage = (int)ViewBag.PageNumber;
                                //var pageCount = (int)ViewBag.Total;

                                // How many pages views right or left of currentPage
                                const int PageLeft = 2;
                                const int PagesRight = 2;

                                // get first page befor ...
                                var fromPage = Math.Max(1, currentPage - PageLeft);

                                // get last page after ...
                                var toPage = Math.Min(pageCount, currentPage + PagesRight);

                                if (pageCount - toPage == 1)
                                {
                                    toPage = pageCount;
                                }

                                if (fromPage > 1)
                                {
                                    // view First page
                                    <li>
                                        <a class="page-link" asp-action="StudentsList" asp-controller="Admin" asp-route-pageNumber="1">1</a>
                                    </li>
                                    if (fromPage > 2)
                                    {
                                        // view first ...
                                        // calculate number page for link ..., it's middle between first page and fromPage
                                        var middleNumber = (int)Math.Ceiling((double)(fromPage - 2) / 2) + 1;
                                        <li>
                                            <a class="page-link" asp-action="StudentsList" asp-controller="Admin" asp-route-pageNumber="@middleNumber">...</a>
                                        </li>
                                    }
                                }


                                // view paginator between currentPage
                                for (int i = fromPage; i <= toPage; i++)
                                {
                                    <li @Html.Raw(currentPage == i ? "class=\"page-item active\"" : "") )>
                                        <a class="page-link" asp-action="StudentsList" asp-controller="Admin" asp-route-pageNumber="@i">@i</a>
                                    </li>
                                }


                                // view second ...
                                if (toPage < pageCount)
                                {
                                    int middleNumber = (int)Math.Ceiling((double)(pageCount - toPage) / 2) + toPage;
                                    <li>
                                        <a class="page-link" asp-action="StudentsList" asp-controller="Admin" asp-route-pageNumber="@middleNumber">...</a>
                                    </li>
                                    // view last page
                                    if (toPage < pageCount - 1)
                                    {
                                        <li>
                                            <a class="page-link" asp-action="StudentsList" asp-controller="Admin" asp-route-pageNumber="@pageCount">@pageCount</a>
                                        </li>
                                    }

                                }

                            }

                            <li class="page-item">
                                @if (ViewBag.PageNumber < pageCount)
                                {
                                    <a class="page-link" asp-action="StudentsList" asp-controller="Admin" asp-route-pageNumber="@{var nextPage = ViewBag.PageNumber + 1; Write(nextPage); }">Next</a>
                                }
                                else
                                {
                                    <a class="page-link disabled">
                                        Next
                                    </a>
                                }
                        </ul>
                    </div>

                    @{
                        // pagination section end
                    }
                </form>

            </div>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Order Details</h4>
            </div>
            <div class="modal-body" id="Preview">
                @*PartialView*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ApplicationStatus(StudentEmail) {
        @{
            ViewData["partialView"] = "Applicationstatus";
        }
        $.ajax({
            type: "Get",
            url: '@Url.Action("Applicationstatus", "Admin")',
            data: { id: currentId },
            success: function (data) {
                $('#Preview').html(data);
                $('#myModal').modal('show');
            }
        })
    }

</script>
