@model List<StudentModel>;
@{
    ViewData["Title"] = "StudentsList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3">
                <h4 class="page-title">New Students Applications</h4>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                        Read now
                    </a>
                </div>
            </div>
            <style>
                .modal-dialog {
                    height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
                }

                .modal-content {
                    height: 100%; /* = 100% of the .modal-dialog block */
                }
            </style>





            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="Label" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <embed src="/Documents/ID/9a5fc929-4f12-453d-a424-32dfb3ed1282_id.pdf" width="1110" height="650" />
                            @*<iframe src="@Model.idcopyUrl" class="w-100 h-100"></iframe>*@
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>







            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-eye"></i> View Students</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-border table-striped custom-table datatable mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone No</th>
                                <th>Degree</th>
                                <th>Have Financial Support</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.StudentName &sbquo; @item.StudentSurname </td>
                                    <td>@item.StudentEmail</td>
                                    <td>@item.StudentPhoneNo</td>
                                    <td>@item.StudentDegree</td>
                                    <td>@item.StudentFinincialStatus</td>
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                                                    Application Status
                                                </a>

                                                <a class="btn btn-outline-primary" data-toggle="modal"  data-whatever="idcopy1@(item.StudentNo)" data-target="#idcopy@(item.StudentNo)">Student id copy</a>
                                                <div class="modal fade" id="idcopy@(item.StudentNo)" tabindex="-1" role="dialog" aria-labelledby="@(item.StudentNo)Label" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <embed src="/Documents/ID/9a5fc929-4f12-453d-a424-32dfb3ed1282_id.pdf" width="1110" height="650" />
                                                                @*<iframe src="@Model.idcopyUrl" class="w-100 h-100"></iframe>*@
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#matric@(item.StudentNo)">matric results</a>
                                                <div class="modal fade" id="matric@(item.StudentNo)" tabindex="-1" role="dialog" aria-labelledby="@(item.StudentNo)lLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <embed src="@item.matricResultUrl" width="1110" height="650" />
                                                                <iframe src="@item.matricResultUrl" class="w-100 h-100"></iframe>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#kin@(item.StudentNo)">Next of Kin id copy</a>
                                                <div class="modal fade" id="kin@(item.StudentNo)" tabindex="-1" role="dialog" aria-labelledby="@(item.StudentNo)alLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <embed src="@item.nextofKinUrl" width="1110" height="650" />
                                                                <iframe ssrc="@item.nextofKinUrl" class="w-100 h-100"></iframe>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                @if (@item.financialProofUrl.Equals("Yes"))
                                                {
                                                    <a class="btn btn-outline-primary" data-toggle="modal" data-target="#proof@(item.StudentNo)">Financial support</a>
                                                    <div class="modal fade" id="proof@(item.StudentNo)" tabindex="-1" role="dialog" aria-labelledby="@(item.StudentNo)dalLabel" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <embed src="@item.financialProofUrl" width="1110" height="650" />
                                                                    <iframe ssrc="@item.financialProofUrl" class="w-100 h-100"></iframe>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Order Details</h4>
            </div>
            <div class="modal-body" id="Preview">
                @*PartialView*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>