@model List<StudentModel>;
@{
    ViewData["Title"] = "StudentsList";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-sm-4 col-3 align-self-sm-end">
                <h4 class="page-title">New Students Applications</h4>
            </div>
         


            <div class="col-sm-8 col-9 text-right m-b-20">
                <a href="add-patient.html" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-eye"></i> View Students</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <form method="post" asp-action="ApplicationStudent" asp-controller="Admin">
                        <table class="table table-border table-striped custom-table datatable mb-0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone No</th>
                                    <th>Degree</th>
                                    <th>Have Financial Support</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>


                                @foreach (StudentModel item in Model)
                                {
                                    <tr>
                                        <td>@item.StudentName &sbquo; @item.StudentSurname </td>
                                        <td>@item.StudentEmail</td>
                                        <td>@item.StudentPhoneNo</td>
                                        <td>@item.StudentDegree</td>
                                        <td>@item.StudentFinincialStatus</td>
                                        <td class="text-right">
                                            <a href="@(item.idcopyUrl)" class="btn btn-outline-primary" target="_blank">
                                                ID
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a href="@(item.matricResultUrl)" class="btn btn-outline-primary" target="_blank">
                                                Matric result
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a href="@(item.nextofKinUrl)" class="btn btn-outline-primary" target="_blank">
                                                Next of kin
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a href="@(item.financialProofUrl)" class="btn btn-outline-primary" target="_blank">
                                                Finacial support
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            @Html.ActionLink("Application status", // <-- Link text
                 "ApplicationStudent", // <-- Action Method Name
                 new { StudentNo = item.StudentNo, StudentEmail = item.StudentEmail }, // <-- Route value
                 null // <-- htmlArguments
                )
                                            <a href="@Url.Action("ApplicationStudent", "StudentModel", item)"></a>
                                                @*<button type="submit" class="btn btn-outline-primary" id="@item." >Application status</button>



                                                *@
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                       
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Order Details</h4>
            </div>
            <div class="modal-body" id="Preview">
                @*PartialView*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function ApplicationStatus(StudentEmail) {
        @{
            ViewData["partialView"] = "Applicationstatus";
        }
        $.ajax({
            type: "Get",
            url: '@Url.Action("Applicationstatus", "Admin")',
            data: { id: currentId },
            success: function (data) {
                $('#Preview').html(data);
                $('#myModal').modal('show');
            }
        })
    }

</script>
