@model  InternetExplores.Models.StudentModel;
@{
    ViewData["Title"] = "Registration";

}
<form class="reg-form" method="post" asp-controller="Student" asp-action="Profile">
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                    <img class="rounded-circle mt-5" width="200" height="200" src="@Url.Content("~/Images/grad.jpg")">
                    <span class="font-weight-bold">@Model.StudentName , @Model.StudentSurname</span>
                    <span>Student No: @Model.StudentNo </span>
                    @if (@Model.ApplicationStatus != "NULL")
                    {
                        <span>Application Status: @Model.ApplicationStatus </span>
                    }
                    else if (@Model.StudentDegree != "NULL")
                    {
                        <span>Application Status: Pending </span>
                    }
                    else
                    {
                        <span>
                            @Html.ActionLink("Click to Registration", // <-- Link text
        "Profile", // <-- Route value
        null // <-- htmlArguments
        )
                        </span>
                    }
@*
                    @if (!(Model.matricResultUrl.ToLower().Equals("null") && Model.idcopyUrl.ToLower().Equals("null") && Model.nextofKinUrl.ToLower().Equals("null")))
                    {*@
                        @if (Model.idcopyUrl != null)
                        {


                            <div class="row mt-3">
                                <h6 class=" text-left">Documents</h6><hr style="border-top: 1px dashed black;width:95%;" />
                                <div class="col-md-6"><a href="@Model.idcopyUrl" class="btn btn-dark btn-sm active" role="button" aria-pressed="true" target="_blank">Identity</a></div>

                                <div class="col-md-6"><a href="@Model.matricResultUrl" class="btn btn-dark btn-sm active" role="button" aria-pressed="true" target="_blank">Matric Result</a></div>
                                <br /><br />
                                <br /><br />

                                @if (!Model.financialProofUrl.ToLower().Equals("null"))
                                {
                                    <div class="col-md-6"><a href="@Model.financialProofUrl" class="btn btn-dark btn-sm active" role="button" aria-pressed="true" target="_blank">Finacial Supp</a></div>
                                }
                                <div class="col-md-6"><a href="@Model.financialProofUrl" class="btn  btn-dark btn-sm active" role="button" aria-pressed="true" target="_blank">Next of kin</a></div>
                            </div>
                        }
                        <br /><br />
                        @if (ViewBag.PaymentCount > 0)
                        {
                            <div class="col">

                                <a class="btn btn-block  btn-dark btn-sm active" data-toggle="modal" data-target="#exampleModal">
                                    Payments
                                </a>

                            </div>

                        }

                    </div>
            </div>
            <div class="col-md-4 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input asp-for="StudentName" type="text" class="form-control" placeholder="first name" value="@Model.StudentName"></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input asp-for="StudentSurname" type="text" class="form-control" value="@Model.StudentSurname" placeholder="surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Phone Number</label><input asp-for="StudentPhoneNo" type="text" class="form-control" placeholder="enter phone number" value="@Model.StudentPhoneNo"></div>
                        <div class="col-md-12"><label class="labels">Email</label><input asp-for="StudentEmail" type="text" class="form-control" placeholder="enter email id" value="@Model.StudentEmail"></div>
                    </div>
                    <div class="row mt-3">
                        <h6>Address</h6><hr style="border-top: 1px dashed black;width:95%;" />
                        <div class="col-md-6"><label class="labels">Province</label><input asp-for="Province" type="text" class="form-control" placeholder="Province" value="@Model.Province"></div>
                        <div class="col-md-6"><label class="labels">City</label><input asp-for="City" type="text" class="form-control" value="@Model.City" placeholder="City"></div>
                        <div class="col-md-6"><label class="labels">Street Name</label><input asp-for="StreetName" type="text" class="form-control" placeholder="Street Name" value="@Model.StreetName"></div>
                        <div class="col-md-6"><label class="labels">Postal code</label><input asp-for="PostalCode" type="number" class="form-control" value="@Model.PostalCode" placeholder="Postal code"></div>

                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Update Profile</button></div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span><i class="fa fa-book"></i>&nbsp;Modules</span>
                    </div><br>
                    @if (ViewBag.moduleCount > 0)
                    {
                        <div class="col-md-12">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Credits</th>
                                        <th>Cost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ModuleModel mod in ViewBag.StudentEnrolledModiles)
                                    {

                                        <tr>
                                            <td>@mod.ModuleCode</td>
                                            <td>@mod.Modulename</td>
                                            <td>@mod.ModuleCredit</td>
                                            <td>@mod.ModuleCost</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <br />
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Student Balance</th>
                                        <th>Module Total cost</th>
                                        <th>Total Credits</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @{
                                                var balabce = Model.StudentBalance;
                                            }
                                            @balabce
                                        </td>
                                        <td> @ViewBag.Total</td>
                                        <td>@ViewBag.Credits</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div> <br>

                        <div class="col-md-12">
                            <div class="mt-5 text-center">
                                <input class="btn btn-primary profile-button" type="button" value="Make Payement" onclick="@("window.location.href='" + @Url.Action("MakePayment", "Student") + "'");" />
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="mt-5 text-center">
                                <input class="btn btn-primary profile-button" type="button" value="Go To Registration" onclick="@("window.location.href='" + @Url.Action("Registration", "Student") + "'");" />
                            </div>
                        </div>
                    }

                </div>
            </div>
            <style>
                .modal-dialog {
                    height: 90%; /* = 90% of the .modal-backdrop block = %90 of the screen */
                }

                .modal-content {
                    height: 100%; /* = 100% of the .modal-dialog block */
                }
            </style>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body bg-white">

                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Type</th>
                                        <th>Bank Name</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Invoice</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (PaymentModel payment in ViewBag.StudentPayments)
                                    {

                                        <tr>
                                            <td>@payment.paymenttype</td>
                                            <td>@payment.bankName</td>
                                            <td>@payment.paymentDescription</td>
                                            <td>@payment.paymentDate</td>
                                            <td>@payment.paymentAmount</td>
                                            <td class="text-right">
                                              <a href="@payment.paymentProofUrl" target="_blank" class="btn btn-dark">
                                                View now
                                               </a>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</form>