@using InternetExplores;
@model dynamic
@{
    ViewData["Title"] = "Registration";

}
<form class="reg-form" method="post">
    <div class="form-group">
        <div class="w3-content w3-margin-top" style="max-width:1400px;">

            <!-- The Grid -->
            <div class="w3-row-padding">
                <!-- Right Column -->
                <div class="w3-twothird">
                    <div class="w3-white w3-text-grey w3-card-4">
                        <div class="card text-white bg-dark mb-3" style="max-width:fit-content();">
                            <div class="card-header"> <h4 class="card-title w3-large">@Model.StudentSurname &nbsp;@Model.StudentSurname</h4></div>
                            <div class="card-body">

                            </div>
                        </div>
                        <div class="w3-container">
                            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>@Model.StudentDegree</p>
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>SA, @Model.Province, @Model.City , @Model.PostalCode</p>
                            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>@Model.StudentEmail</p>
                            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>@Model.StudentPhoneNo</p>
                            <hr>
                        </div>
                    </div>


                    <!-- End Right Column -->

                </div>

                <!-- End Grid -->
            </div>

            <!-- End Page Container -->
        </div>
    </div>
</form>