@model InternetExplores.Models.EnrollmentsModel

@{
    ViewData["Title"] = "StudentEnrollement";
    Layout = "~/Views/_AuthLayout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<form class="reg-form" enctype="multipart/form-data" method="post" asp-controller="Student" asp-action="StudentEnrollement">
    <hr />
    @if (ViewBag.IsSuccess == true)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @Html.ValidationSummary(true, "", new { @class = "field text-danger" })
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">

                @if (Model.ModulesList.Count > 0)
                {
                    <span>Module 1</span>
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.ModuleCode0, Model.ModulesList, new { @class = "form-select chosen-select", @style = "width:auto;" })
                    </div>
                }


                @if (Model.ModulesList.Count > 1)
                {
                    <span>Module 2</span>
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.ModuleCode1, Model.ModulesList, new { @class = "form-select chosen-select", @style = "width:auto;" })
                    </div>
                }
                @if (Model.ModulesList.Count > 2)
                {
                    <span>Module 3</span>
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.ModuleCode2, Model.ModulesList, new { @class = "form-select chosen-select", @style = "width:auto;" })
                    </div>
                }
                @if (Model.ModulesList.Count > 3)
                {
                    <span>Module 4</span>
                    <div class="form-group">
                        @Html.DropDownListFor(x => x.ModuleCode3, Model.ModulesList, new { @class = "form-select chosen-select", @style = "width:auto;" })
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</form>
